<!-- templates/add_file.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add File</title>
</head>
<body>
    <h1>Add File</h1>
    <form method="post" action="/add_file">
        <label for="mediaTitle">Media Title:</label>
        <input type="text" id="mediaTitle" name="mediaTitle" >
        <br>
        <label for="mediaDescription">Media Description:</label>
        <textarea id="mediaDescription" name="mediaDescription" ></textarea>
        <br>
        <label for="mediaCategory">Media Category:</label>
        <input type="text" id="mediaCategory" name="mediaCategory" >
        <br>
        <label for="mediaThumbnail">Media Thumbnail URL:</label>
        <input type="text" id="mediaThumbnail" name="mediaThumbnail" >
        <br>
        <label for="mediaContentUrl">Media Content URL:</label>
        <input type="text" id="mediaContentUrl" name="mediaContentUrl" >
        <br>
        <label for="mediaContentDuration">Media Content Duration:</label>
        <input type="text" id="mediaContentDuration" name="mediaContentDuration" >
        <br>
        <label for="mediaContentBitrate">Media Content Bitrate:</label>
        <input type="text" id="mediaContentBitrate" name="mediaContentBitrate" >
        <br>
        <label for="mediaContentLanguage">Media Content Language:</label>
        <input type="text" id="mediaContentLanguage" name="mediaContentLanguage" >
        <br>
        <label for="mediaSubTitleLang">Media Subtitle Language:</label>
        <input type="text" id="mediaSubTitleLang" name="mediaSubTitleLang">
        <br>
        <label for="mediaSubTitleHref">Media Subtitle Href:</label>
        <input type="text" id="mediaSubTitleHref" name="mediaSubTitleHref">
        <br>
        <input type="submit" value="Add File">
    </form>
</body>
</html>
